body{background-image:linear-gradient(green,yellow,white);
    border:orange;
    border-width:100%;
    border-style:solid;
    height:800px;
}
 
td,a{font-weight:900;
    height:5px;


}
h1{
    text-align:center;
    font-weight:900;
    font-family: fantasy;

}
p{
    text-align:center;
    font-family:monospace;
    background-color: aquamarine;
    height:200px;
    font-size:24;

}
img{
    align-items:right;
    width:100%;
    height:500px;
}